body{
    background-image: url(../../assets/stars.jpg);
    background-color: #cccccc;
    height: 1200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
